{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }} {# Etend le block head défini dans le layout  #}
    <meta property="og:title" content="Liste des projets de TuttoPasta" />
    <meta property="og:description" content="Découvrez les projets réalisés par TuttoPasta en freelance. Consultez notre portfolio pour voir nos réalisations graphique." />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:language" content="fr">
    <meta property="og:image" content="{{ asset('img/logo_black.svg') }}" />
    <meta property="og:type" content="website" />
{% endblock %}

{% block title %}Projets Tutto Pasta{% endblock %}

{% block page_title %} Projets {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper_project_list">
        <ul class="project_list">
            <hr>
            {% for project in projects %}
            <li class="animated_li">
                <a class="project_container" href="{{ path('app_project', { 'slug': project.slug }) }}">
                    <div class="project_content">
                        <p>{{ project.projectDate|date("Y") }}</p>
                        <h3>{{ project.projectName }}</h3>
                        {% for category in project.categories %}
                            <p class="project_content_category">
                                <i class="fa-sharp fa-solid fa-arrow-right" style="color: #000000;"></i>
                                {{ category.categoryName }}
                            </p>
                        {% endfor %}
                    </div>
                    {% set firstImage = project.images|first %}
                    {% if firstImage %}
                        <img class="projects_list_img" src="{{ asset('img/projects/' ~ firstImage.image) }}" alt="{{ firstImage.alt }}" loading="lazy">
                    {% endif %}
                </a>
            </li>
            <hr>
        {% endfor %}
        </ul>
    </main>
{% endblock %}
