{% extends 'base.html.twig' %} 

{% block title %} Tutto Pasta - Rendez-Vous {% endblock %} 

{% block page_title %} Rendez-vous {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper_forms">
        <div class="form_display">
            {{ form_start(form) }}
                <div class="form_container">
                    <input type="hidden" id="selectedSlot" name="selectedSlot" value="" />
            
                    <div class="form-group">
                        {{ form_row(form.name) }}
                        <div class="error_msg" id="name_error"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.firstName) }}
                        <div class="error_msg" id="firstName_error"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                        <div class="error_msg" id="email_error"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.message) }}
                        <div class="error_msg" id="message_error"></div>
                    </div>
                    <div class="form-group" id="availableServices">
                        {{ form_row(form.services) }}
                    </div> 
                    <input type="hidden" id="selectedService" name="selectedService" value="">
                    <div class="form-group">
                        {{ form_row(form.startDate, {'attr': {'id': 'dateInput'}}) }}
                        <div class="error_msg" id="date_error"></div>
                        <div id="available-rdv"></div>
                    </div>
                    {{ form_row(form.save, {'attr': {'class': 'full_button_black_cta'}}) }}
                    <p id="constraints_message">
                        *Merci d'avoir pris rendez-vous ! <br>
                        - Remplissez les champs requis (*) avec des informations claires pour une réponse rapide. <br>
                        - Vérifiez vos coordonnées et soyez précis dans votre message. <br>
                        - Vos données seront traitées en toute confidentialité.
                    </p>
                    <div id="discover_services">
                        <a href="#services_section">
                            <p>Découvrir les services</p>
                            <i class="fa-solid fa-arrow-down"></i>
                        </a>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        {# SECTION SERVICES #}
        <section id="services_section">
            <article class="services_content">
                
                <div class="services_h2">                    
                    <h2>Services</h2>
                    <img src="{{ asset('/img/white_smile.svg')}}" alt="white smiley">
                </div>
                <div class="service">
                    <div class="services_categories">
                        <h3>
                            <i class="fa-sharp fa-solid fa-arrow-right"></i> {{categories[0].categoryName|raw}} <br>
                        </h3>
                        {{categories[0].categoryContent|raw}}
                    </div>
                    {# les 2 services de la catégorie identité visuelle #}
                    {% for service in services|slice(0, 2) %}
                        <div class="service_cards">
                            <div class="service_cards_header">
                                <h4>{{ service.serviceName|raw }}</h4>
                                <p>à partir de <br></p>
                                <span class="stickers_price">{{ service.servicePrice|raw }}€ ttc</span>
                            </div>
                            {{ service.serviceContent|raw }}
                            <div class="btn_center_services_cards">
                                <a href="{{ path('app_appointment') }}"><button class="service_button">Je choisis ce pack</button></a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="services_categories">
                        <h3>
                            <i class="fa-sharp fa-solid fa-arrow-right"></i> {{categories[1].categoryName|raw}} <br>
                        </h3>
                        {{categories[1].categoryContent|raw}}
                    </div>
                    {# les 2 autres services de la catégorie site internet #}
                    {% for service in services|slice(2, 2) %}
                        <div class="service_cards">
                            <div class="service_cards_header">
                                <h4>{{ service.serviceName|raw }}</h4>
                                <p>à partir de <br></p>
                                <span class="stickers_price">{{ service.servicePrice|raw }}€ ttc</span>
                            </div>
                            {{ service.serviceContent|raw }}
                            <div class="btn_center_services_cards">
                                <a href="{{ path('app_appointment') }}"><button class="service_button">Je choisis ce pack</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>
<script>
    var available_rdv_ajax = "{{ path('available_rdv') }}";
</script>
{% endblock body %} 

{% block javascripts %}
<script src="{{ asset('/js/appointment.js')}}"></script>
<script src="{{ asset('/js/captcha.js')}}"></script>
{% endblock %}
