{% extends '@EasyAdmin/page/content.html.twig' %} {% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <h2>Les trois derniers rendez-vous</h2>
    <table class="appointments_table">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Message</th>
                <th>Client</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% set sorted_appointments = appointments|sort((a, b) => b.startDate <=> a.startDate) %} {# Tri des rendez-vous par date de début #}
            
            {% for appointment in sorted_appointments %}
                <tr id="appointment-{{ appointment.id }}">
                    <td data-label="Date de début">
                        {{ appointment.startDate|date('d-m-Y H:i') }}
                    </td>
                    <td data-label="Date de fin">
                        {{ appointment.endDate|date('d-m-Y H:i') }}
                    </td>
                    <td data-label="Message">{{ appointment.message }}</td>
                    <td data-label="Client">{{ appointment.name }}</td>
                    <td data-label="Email">{{ appointment.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Statistiques</h2>
    <div id="canvas_display">
        <div class="canvas_items">
            <canvas
            id="quotes_chart"
            data-quotesbystate='{{ quotesByStateJson }}'
            ></canvas>
            <h3>Devis par status</h3>
        </div>
        <div class="canvas_items">
            <canvas
            id="monthlyAppointment_chart"
            data-monthly-appointment='{{ appointmentsByMonthJson }}'
            ></canvas>
            <h3>Rendez-vous par mois</h3>
        </div>
        <div class="canvas_items">
            <canvas
            id="monthlyTotalTTC_chart"
            data-monthly-total-ttc='{{ totalTTCByMonthJson }}'
            ></canvas>
            <h3>Bénéfices mensuels</h3>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Graphique des devis par status

        const quotes_chart = document.getElementById('quotes_chart'); // Récupère le canvas
        const quotesByState = JSON.parse(quotes_chart.dataset.quotesbystate); // Récupère les données
        const labelsQuotes = quotesByState.map(item => item.state); // Récupère les labels
        const dataQuotes = quotesByState.map(item => item.count); // Récupère les données

        new Chart(quotes_chart, {
            type: 'doughnut',
            data: {
                labels: labelsQuotes,
                datasets: [{
                    label: 'Nombre de devis',
                    data: dataQuotes,
                    backgroundColor: [
                        '#b6b6b6',
                        '#27B474',
                        '#fbfb8f',
                        '#6C6CFF',
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true 
                    }
                }
            }
        });

        // Graphique des rendez-vous par mois
        const monthlyAppointment_chart = document.getElementById('monthlyAppointment_chart'); // Récupère le canvas
        const monthlyAppointment = JSON.parse(monthlyAppointment_chart.dataset.monthlyAppointment); // Récupère les données

        const monthNames = [
            "Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
            "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"
        ];
        
        const labelsAppointment = monthlyAppointment.map(item => monthNames[item.month - 1]); // Convertit les numéros de mois en noms de mois
        const dataAppointment = monthlyAppointment.map(item => item.count); // Récupère les données

        new Chart(monthlyAppointment_chart, {
            type: 'bar',
            data: {
                labels: labelsAppointment,
                datasets: [{
                    label: 'Nombre de rendez-vous',
                    data: dataAppointment,
                    backgroundColor: [
                        '#b6b6b6',
                        '#27B474',
                        '#fbfb8f',
                        '#6C6CFF',
                    ],
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,    // Active la légende
                        position: 'bottom' // Positionne la légende en bas du graphique
                    }
                },
            }
            
        });

        // Graphique des bénéfices mensuels
        const monthlyTotalTTC_chart = document.getElementById('monthlyTotalTTC_chart');
        const monthlyTotalTTC = JSON.parse(monthlyTotalTTC_chart.dataset.monthlyTotalTtc); 
        const labelsTotalTTC = monthlyTotalTTC.map(item => monthNames[item.month - 1]); // Convertit les numéros de mois en noms de mois
        const dataTotalTTC = monthlyTotalTTC.map(item => item.totalTTC); // Récupère les données

        new Chart(monthlyTotalTTC_chart, {
            type: 'line',
            data: {
                labels: labelsTotalTTC,
                datasets: [{
                    label: 'Total TTC par mois',
                    data: dataTotalTTC,
                    borderColor: '#27B474',
                }]
            },
        });
    </script>

    {% endblock %}
