{% extends 'base.html.twig' %}

{% block page_title %} Éditer le devis{% endblock %}

{% block body %}
{{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}

<main class="wrapper">
        {{ form_start(form) }}
            <div class="form_container">
                {{ form_row(form.reference) }}

                {{ form_row(form.customerName) }}

                {{ form_row(form.customerFirstName) }}

                {{ form_row(form.customerEmail) }}
                
                {{ form_row(form.services) }}
                
                {{ form_row(form.newService) }}

                {{ form_row(form.newServicePrice) }}

                {{ form_row(form.newServiceCategory) }}

                <button class="full_button_black">Sauvegarder les modifications</button>
            </div>
        {{ form_end(form) }}
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/quote.js')}}"></script>
{% endblock %}
