{% extends 'base.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block page_title %} Liste des devis {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <div class="quotes_container">
            <table class="quotes_table">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Utilisateur</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set sorted_quotes = quoteWithUsers|sort((a, b) => b.quote.quoteDate <=> a.quote.quoteDate) %}
                    {% for item in sorted_quotes %}
                        <tr id="quote-{{ item.quote.id }}">
                            <td data-label="Référence">{{ item.quote.reference }}
                                <a href="{{ path('quote_pdf', { 'id': item.quote.id }) }}" target="_blank" title="Aperçu"> {# Lien vers la génération du PDF #}
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                            <td data-label="Date">{{ item.quote.quoteDate|date('d-m-Y') }}</td>
                            <td data-label="Nom">{{ item.quote.customerName }}</td>
                            <td data-label="Email">{{ item.quote.customerEmail }}</td>
                            <td data-label="Utilisateur">
                                {{ item.user ? item.user.username : 'Aucun utilisateur' }}
                            </td>
                            <td data-label="Etat" data-etat="{{ item.quote.state }}">{{ item.quote.state }}</td>
                            <td data-label="Actions" id="action_quote_buttons">

                                <a href="{{ path('quote_edit', { 'id': item.quote.id }) }}" target="_blank" title="Editer"> {# Lien vers l'édition du PDF #}
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="#" class="archive_quote" data-id="{{ item.quote.id }}" title="Archiver"> {# Lien vers l'archivage du PDF #}
                                    <i class="fa-solid fa-box-archive"></i>
                                </a>
                                <a href="#" class="completed_quote" data-id="{{ item.quote.id }}" title="Terminé"> {# Lien vers l'archivage du PDF #}
                                    <i class="fa-solid fa-check"></i>
                                </a>
                                <a href="#" class="delete_quote" data-id="{{ item.quote.id }}" title="Supprimer"> {# Lien vers la suppression du PDF #}
                                    <i class="fa-solid fa-x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="back_to">
            <a class="full_button_white" href="{{ path('app_home') }}">Retour à la page d'accueil</a> 
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/quote.js')}}"></script>
{% endblock %}
