{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }} {# Etend le block head défini dans le layout  #}
    <meta property="og:title" content="{{ article.articleTitle }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:language" content="fr">
    {# <meta property="og:image" content="{{ asset('path/to/article/image.jpg') }}" /> #}
    <meta property="og:type" content="article" />
{% endblock %}

{% block title %}{{article.articleTitle}}{% endblock %}

{% block page_title %} {{ article.articleTitle }} {% endblock %}

{% block body %}
{{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}

<main class="wrapper">
    {#--------------------------------------- Section article ----------------------------------------#}
    <article class="article_content">
        <span id="article_date">Rédigé par TuttoPasta, le {{ article.date }} | <a href="#comment_title">{{article.comments|length}} {% if article.comments|length <= 1 %}Commentaire{% else %}Commentaires{% endif %}</a></span>
        
        {% for category in article.categories %}
        <p>{{ category.categoryName }}</p>
        {% endfor %}
        <div class="article_description">
            {{ article.articleContent|raw }} <br>
        </div>
        <div class="article_tags">
            {% for tag in article.tags %}
                <span class="tag">{{ tag.tagName }}</span>
            {% endfor %}
        </div>        
        <hr class="separator">

        <div class="social_share">
            <p>Partager : </p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="social_icons" target="_blank">
                <i class="fa-brands fa-square-facebook fa-xl" style="color: #000000;"></i>
            </a>
            <a href="https://https://www.instagram.com/share/url/?url={{ app.request.uri }}" class="social_icons" target="_blank">
                <i class="fa-brands fa-square-instagram fa-xl" style="color: #000000;"></i>
            </a>
            <a href="https://x.com/intent/post?url={{ app.request.uri }}" class="social_icons" target="_blank">
                <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #000000;"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}" class="social_icons" target="_blank">
                <i class="fa-brands fa-linkedin fa-xl" style="color: #000000;"></i>
            </a>
        </div>
        <hr class="separator">
        {#--------------------------------------- Section commentaires ----------------------------------------#}
        {# Ajout d'un commentaire #}
        {% if not app.user %}
        <a id="comment_join_btn" class="full_button_black" href="{{ path('app_register') }}">Inscrit toi et joins la conversation</a>
        {% elseif app.user.isBanned %} {# Si l'utilisateur est banni #}
            <p class="error_msg">Votre compte est banni. Vous ne pouvez plus rédiger de commentaire.</p>
        {% else %}
            {{ form_start(form, {'action': path('app_article_addComment', {'slug': article.slug}), 'method': 'POST', 'attr': {'id': 'comment_form'}}) }}
                {{ form_label(form.commentContent) }}
                <div id="constraints_message">
                    <p>Veuillez respecter les contraintes suivantes lors de la rédaction de votre commentaire :</p>
                    <ul>
                        <li>- Le commentaire doit contenir au minimum <strong>5 caractères</strong>.</li>
                        <li>- Évitez les propos injurieux, insultants ou inappropriés.</li>
                        <li>- Assurez-vous de rester dans le sujet de l'article pour une meilleure expérience de discussion.</li>
                    </ul>
                </div>
                {{ form_widget(form.commentContent) }} 
                <div class="error_msg" id="message_error"></div>
                
                {{ form_errors(form) }}
                <button id="saved_comment" class="full_button_black" type="submit">Envoyer</button>
            {{ form_end(form) }}
        {% endif %}
        {# Compteur de commentaires #}
        <span id="comment_title" class="stickers_pink" data-count="{{article.comments|length}}">
            {{article.comments|length}}
            {% if article.comments|length <= 1 %} 
                Commentaire:
            {% else %} 
                Commentaires:
            {% endif %}
        </span>
        {# Contenu du commentaire #}
        <section id="comments_section">
            {% set sortedComments = article.comments|sort((a, b) => b.commentDate.timestamp - a.commentDate.timestamp) %}
            {% for comment in sortedComments %}
                <div class="comment" id="comment-{{ comment.id }}" data-slug="{{ article.slug }}">
                    <div class="comment_head">
                        {# <p>{{ comment.user.username }}</p> #}
                        {% if comment.user %}
                            <p>{{ comment.user.username|capitalize }}</p>
                        {% else %}
                            {{ comment.username }}
                        {% endif %}
                        <p>{{ comment.commentDate|date("d/m/Y à H:i") }}</p>
                    </div>
                    <div class="comment_content">
                        <p>{{ comment.commentContent|raw }}</p>
                    </div>

                    {# Suppression ou édition si utilisateur connecté = auteur ou admin #}
                    {% if is_granted('ROLE_ADMIN') or (app.user and comment.user == app.user) and not app.user.isBanned %}
                    <div class="comment_actions">
                        <a href="#" class="edit_comment" title="Editer mon message" data-id="{{ comment.id }}"><img src="{{ asset('/img/editer.png')}}" height="18" alt="icône d'édition"></a>
                        <a href="#" class="delete_comment" title="Suprimer mon message" data-id="{{ comment.id }}"><img src="{{ asset('/img/annuler.png')}}" height="18" alt="icône d'annulation"></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>

    </article>

    <hr class="separator">

    {#--------------------------------------- Section Autres articles ----------------------------------------#}
    <section>
        <ul class="article_list">
            {% for article in articles %}
                <li class="article_items">
                    <a href="{{ path('app_article', { 'slug': article.slug }) }}">
                        <article class="article_card">
                            <h2 class="article_card_title">{{ article.articleTitle }}</h2>
                            <p>{{ article.date }}</p>
                            <div class="article_tags">
                                {% for tag in article.tags %}
                                    <span class="tag">{{ tag.tagName }}</span>
                                {% endfor %}
                            </div>    
                            <div class="see_more">Voir l'article <img src="{{ asset('/img/arrow_right.svg')}}" height="18" alt="icône d'annulation"></div>  
                        </article>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/blog.js')}}"></script>
{% endblock %}
