<!DOCTYPE html>
<html lang="fr">
    {% block head %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token('') }}">
        <meta name="description" content="Découvrez les dernières actualités, astuces et projets de TuttoPasta, graphiste et webdesigneuse freelance.">
        {# <meta http-equiv="Content-Security-Policy" content="
            default-src 'self';
            script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://accounts.google.com https://*.fontawesome.com https://use.typekit.net https://www.googletagmanager.com;
            style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://use.typekit.net https://*.typekit.net https://*.fontawesome.com;
            img-src 'self' data: https://www.google-analytics.com https://*.fontawesome.com;
            font-src 'self' https://use.typekit.net https://*.fontawesome.com data: https://*.typekit.net;
            object-src 'none';
            frame-src 'self' https://accounts.google.com;
            connect-src 'self' https://www.google-analytics.com https://*.fontawesome.com https://use.typekit.net;
            worker-src 'self' https://*.fontawesome.com blob:;
        "> #}
        <title>{% block title %}{% endblock %} - Graphiste/Webdesigner</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/flatpickr.css')}}">
            <link rel="stylesheet" href="{{ asset('/css/style.css')}}">
            <link rel="stylesheet" href="https://use.typekit.net/tkf7imz.css"> {# Typekit pour Area Police #}
        {% endblock %}
        
        <script src="https://accounts.google.com/gsi/client" async></script> {# Google Sign-In #}
        <script src="{{ asset('/js/lib/jquery-3.7.1.min.js')}}"></script> {# jQuery #}
        <script src="{{ asset('/js/lib/flatpickr.js')}}"></script> {# Flatpickr #}
        <script src="{{ asset('/js/lib/flatpickr-fr.js')}}"></script> {# Flatpickr en français #}
        <script src="https://kit.fontawesome.com/f3340c3342.js" crossorigin="anonymous"></script> {# Font Awesome #}
        <script src="{{ asset('/js/script.js')}}"></script> 

        <!-- Tarte au Citron Script -->
        <script src="https://cdn.jsdelivr.net/npm/tarteaucitronjs@1.9.3/tarteaucitron.js"></script>
        <script>
            tarteaucitron.init({
                "privacyUrl": "", // URL of your privacy policy
                "hashtag": "#tarteaucitron", // Open the panel with this hashtag
                "cookieName": "tarteaucitron", // Cookie name
                "orientation": "bottom", // Banner position (top - bottom - middle - popup)
                "groupServices": false, // Group services by category
                "showAlertSmall": false, // Show the small banner on bottom right
                "cookieslist": false, // Show the cookie list
                "showIcon": true, // Show cookie icon to manage cookies
                "iconPosition": "BottomRight", // Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft
                "adblocker": false, // Show a Warning if an adblocker is detected
                "DenyAllCta" : true, // Show the deny all button
                "AcceptAllCta" : true, // Show the accept all button
                "highPrivacy": true, // HIGHLY RECOMMENDED Disable auto consent
                "handleBrowserDNTRequest": false, // If Do Not Track == 1, disallow all
                "removeCredit": false, // Remove credit link
                "moreInfoLink": true, // Show more info link
                "useExternalCss": false, // If false, the tarteaucitron.css file will be loaded
                "useExternalJs": false, // If false, the tarteaucitron.js file will be loaded
                "readmoreLink": "", // Change the default readmore link pointing to tarteaucitron.io
                "mandatory": true // Show a message about mandatory cookies
            });
            </script>
            <script>
                // Google Analytics
                tarteaucitron.user.gtagUa = '694190220787-elursji5hbf1qjjrtgg9g9mdhm11c68a.apps.googleusercontent.com';
                tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
                (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
                
                // Google Sign-In
                (tarteaucitron.job = tarteaucitron.job || []).push('googlesignin');
            </script>      
        </head>
    {% endblock %}

    <body>
        <header id="header_container">
            <div id="header_content">
                <a href="{{ path('app_home') }}"><img class="logo_header" src="{{ asset('/img/logo_white.svg')}}" alt="Logo TuttoPasta"></a>
                <nav>
                    <ul id="nav_container">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}"> <i class="fa-solid fa-user-shield"></i> Admin </a></li>
                        {% endif %}
                        <li><a href="{{ path('app_projectList') }}"> Projets </a></li>
                        <li><a href="{{ path('app_blog') }}"> Blog </a></li>
                        <li><a href="{{ path('app_contact') }}"> Contact </a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_profil') }}"><i class="fa-solid fa-user"></i> Profil </a></li>
                            <li><a href="{{ path('app_logout') }}"> Déconnexion </a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}"> Connexion </a></li>
                            <li><a href="{{ path('app_register') }}"> Inscription </a></li>
                        {% endif %}
                        
                        <a id="appointment_btn_burger" class="full_button_white_cta" href="{{ path('app_appointment') }}"> Prendre RDV </a>
                    </ul>
                </nav>
                <a id="appointment_btn_nav" class="full_button_white_cta" href="{{ path('app_appointment') }}"> Prendre RDV </a>
                <div class="burger-menu">☰</div>
                <div class="close_burger">x</div>
            </div>
        </header>
        {% block body %}
            <div class="sub_header_tittle_container">
                <h1 id="h1_page_title">{% block page_title %}{{ title }}{% endblock %}</h1>
            </div>
        {% endblock %}
        <footer>
            <div class="background-bottom">
                <h2>TuttoPasta, le 3e  œil qui rend <br>
                    ton entreprise remarquable. </h2>
                <img class="background_bottom_left" src="{{ asset('/img/background-bottom-left.svg') }} " alt="background tuttoPasta" loading="lazy">
                <img class="background_bottom_right" src="{{ asset('/img/background-bottom-right.svg') }} " alt="background tuttoPasta" loading="lazy">
            </div>
            <div class="footer_collab">
                <h1>Prêt à collaborer</br>avec TuttoPasta ?</h1>
                <a class="full_button_white_cta" href="{{ path('app_appointment') }}"> Je veux prendre RDV </a>
            </div>

            <hr>
            <div class="footer_social">                    
                <nav>
                    <ul>
                        <li><img src="{{ asset('/img/blue_smile.svg')}}" alt="blue smiley"><a href="#">Linkedin</a></li>
                        <li><img src="{{ asset('/img/green_smile.svg')}}" alt="green smiley"><a href="#">Behance</a></li>
                        <li><img src="{{ asset('/img/pink_smile.svg')}}" alt="pink smiley"><a href="#">Instagram</a></li>
                    </ul>
                </nav>                      
                <ul>
                    <li><span id="footer_services" class="stickers_white">Services</span></li>
                    <li><p>Identité Visuelle</p></li>
                    <li><p>Sites Internet</p></li>
                    <li><p>Prestations</p></li>
                </ul>
            </div>
            <div id="footer_nav">                    
                <div class="copyright">
                    <p>&copy; 2024 TUTTO PASTA</p>
                    <p>dev: Gino Dalsasso</p>
                </div>
                <div class="footer_rgpd">
                    <a href="{{ path('app_mentions') }}">Mentions légales -</a>
                    <a href="#">Politique de confidentialité -</a> 
                    <a href="{{ path('app_cgu') }}">CGU</a>
                </div>
            </div>
        </footer>        
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
