{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block page_title %} Messagerie{% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <p>Non lus: {{ app.user.received|filter(message => message.isRead == false)|length }}</p>
        <p>Reçus: {{ app.user.received|length }}</p>
        <p>Envoyés: {{ app.user.sent|length }}</p>

        <a href="{{ path("app_received") }}">Boîte de réception</a>
        <a href="{{ path("app_sent") }}">Boîte d'envoi</a>
        <a href="{{ path("app_sendMessage") }}">Envoyer un message</a>
    </main>

{% endblock %}
