{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block page_title %} Envoyer un message {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        
        {{ form_start(form) }}
            <div class="form_container">
                <div class="form-group">
                    {{ form_row(form.title) }}
                    <div class="error_msg" id="name_error"></div>
                </div>
                <div class="form-group">
                    {{ form_row(form.content) }}
                    <div class="error_msg" id="name_error"></div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}                    
                    <div class="form-group">
                        {{ form_row(form.recipient) }}
                        <div class="error_msg" id="name_error"></div>
                    </div>
                {% endif %}
                    {{ form_row(form.submit) }}
                </div>
            </div>
        {{ form_end(form) }}
        <div class="back_to">
            <a class="full_button_white" href="{{path("app_messages")}}">Retour à la messagerie</a>
        </div>
    </main>

{% endblock %}
