{% extends 'base.html.twig' %}

{% block title %}Boîte d'envoi{% endblock %}

{% block page_title %}Boîte d'envoi{% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <p>Vous avez envoyé {{ app.user.sent|length }} {% if app.user.sent|length <= 1 %}message{% else %}messages{% endif %}</p>
        <table class="quotes_table">
            <thead>
                <tr>
                    <th>À</th>
                    <th>Sujet</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="show_data">
                {% set sorted_messages = app.user.sent|sort((b, a) => a.createdAt <=> b.createdAt) %} {# Trie les messages par date de création #}
                {% for message in sorted_messages %}
                    <tr id="message-{{ message.id }}"></tr>
                        <td data-label="À">{{ message.recipient.email }}</td>
                        <td data-label="Sujet">
                            <a href="{{ path("app_read", {id:message.id} )}}">
                                {{ message.title }}
                            </a></td>
                        <td data-label="Date">{{ message.createdAt|date("d/m/Y à H:i") }}</td>
                        <td data-label="Actions">
                            <a href="{{ path('app_deleteMessage', {id: message.id}) }}" class="delete_message" data-id="{{ message.id }}" title="Supprimer"> 
                                <i class="fa-solid fa-x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="back_to">
            <a class="full_button_white" href="{{path("app_messages")}}">Retour à la messagerie</a>
        </div>
    </main>

{% endblock %}
