{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block page_title %}Profil{% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <section id="user_content">
            <h3>Mes informations personnelles:</h3>
            <p><b>Pseudo:</b> {{user.username|capitalize}} </p>
            <p><b>Email:</b> {{user.email}} </p>
            <p><b>Date de création du compte:</b> {{user.accountDate|date('d/m/Y')}}</p>
        </section>
        {# Boutton de modification et suppression #}
        <div id="user_action_buttons">
            <a class="show_modal_edit_data full_button_black">Modifier mes informations</a>
            {% if app.user.isGoogleUser == false %}
                <a class="show_modal_edit_password full_button_black">Modifier mon mot de passe</a>
            {% endif %}
            <a class="full_button_red" id="delete_account_link" href="{{ path('app_delete_account') }}">Suprimer mon comtpe</a>
        </div>

        
        {# Modale d'édition des information utilisateur #}
        <dialog class="modal_edit_data">
            {{ form_start(form, {'action': path('app_profil_update_info')}) }}
                {{ form_row(form.username) }}
                <div class="error_msg" id="pseudo_error"></div>
                {% if app.user.isGoogleUser == false %}
                    {{ form_row(form.email) }}
                    <div class="error_msg" id="email_error"></div>
                {% endif %}

                <div class="center_button">
                    <button class="full_button_black" id="save_edit_data" type="submit">Valider les informations</button>
                </div>
            {{ form_end(form) }}
            <button class="closeModal">X</button>
        </dialog>

        {# Modal d'édition de mot de passe #}
        <dialog class="modal_edit_password">
            {{ form_start(passwordForm, {'action': path('app_profil_update_password')}) }}
                {{ form_widget(passwordForm) }}
                <div class="error_msg" id="password_error"></div>

                <div class="center_button">
                    <button class="full_button_black" id="save_edit_password" type="submit">Changer le mot de passe</button>
                </div>
            {{ form_end(form) }}
            <button class="closeModal">X</button>
        </dialog>



        {% set now = "now"|date('Y-m-d H:i:s') %}  {# On crée une variable pour la date actuelle avec heure au format 'Y-m-d H:i:s' #}
        
        {# On vérifie si l'utilisateur a des rendez-vous #}
        {% if appointments is not empty %}
            {% set hasUpcomingAppointments = false %}
            {% set hasPastAppointments = false %}
            {# On parcourt les rendez-vous pour les classer en rendez-vous à venir et passés #}
            {% for appointment in appointments %}
                {% set appointmentDate = appointment.startDate|date('Y-m-d H:i:s') %}
                {# /Si la date de début du rendez-vous est supérieure ou égale à la date actuelle #}
                {% if appointmentDate >= now %}
                    {% set hasUpcomingAppointments = true %}
                {% else %}
                    {% set hasPastAppointments = true %}
                {% endif %}
            {% endfor %}

            <section id="user_table">
                <div class="appointments_container">

                    {% if quotes is not empty %}
                        <h3>Devis:</h3>
                        <table class="appointments_table">
                            <thead>
                                <tr>
                                    <th>Référence</th>
                                    <th>Date</th>
                                    <th>Prix</th>
                                    <th>Télécharger</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for quote in quotes %}
                                    {% if quote.status == 1 %}
                                        <tr id="quote-{{ quote.id }}">
                                            <td data-label="Référence">{{ quote.reference }}</td>
                                            <td data-label="Date">{{ quote.quoteDate|date('d/m/Y') }}</td>
                                            <td data-label="Prix">{{ quote.totalTTC }}</td>
                                            <td data-label="Télécharger">
                                                <a href="{{ path('quote_pdf', { 'id': quote.id }) }}" download><i class="fa-solid fa-download"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="appointments_container">
                    {% if hasUpcomingAppointments %}
                        <h3>Rendez-vous à venir:</h3>
                        <table class="appointments_table">
                            <thead>
                                <tr>
                                    <th scope="col">Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Annulation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                    {% set appointmentDate = appointment.startDate|date('Y-m-d H:i:s') %}
                                    {% if appointmentDate >= now %}
                                        <tr id="appointment-{{ appointment.id }}">
                                            <td data-label="Date de début">{{ appointment.startDate|date('d/m/Y à H:i') }}</td>
                                            <td data-label="Date de fin">{{ appointment.endDate|date('d/m/Y à H:i') }}</td>
                                            <td data-label="Annulation">
                                                <a href="#" class="cancel_appointment" data-id="{{ appointment.id }}">
                                                    <i class="fa-solid fa-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
        
                    {% if hasPastAppointments %}
                        <h3>Rendez-vous passés:</h3>
                        <table class="appointments_table">
                            <thead>
                                <tr>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                    {% set appointmentDate = appointment.startDate|date('Y-m-d H:i:s') %}
                                    {% if appointmentDate < now %}
                                        <tr id="appointment-{{ appointment.id }}">
                                            <td data-label="Date de début">{{ appointment.startDate|date('d/m/Y à H:i') }}</td>
                                            <td data-label="Date de fin">{{ appointment.endDate|date('d/m/Y à H:i') }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                {% endif %}
            </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/profil.js')}}"></script>
    <script src="{{ asset('/js/appointment.js')}}"></script>
{% endblock %}