{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block page_title %} Inscription {% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper_forms">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            <div class="form_container">
                <div class="form-group">
                    {{ form_row(registrationForm.username) }}
                    <div class="error_msg" id="pseudo_error"></div>
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                    <div class="error_msg" id="email_error"></div>
                </div>

                {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                <div class="error_msg" id="password_error"></div>

                {{ form_row(registrationForm.captcha) }}

                <div class="agreeTerms_display">
                    {# {{ form_row(registrationForm.agreeTerms) }} #}
                    {{ form_row(registrationForm.agreeTerms, {
                        label_html: true,
                        label: 'J\'accepte les <a href="'~path('app_cgu')~'">termes et conditions d\'utilisation</a>'
                    }) }}
                </div>

                <button type="submit" id="register_save" class="full_button_black">S'inscrire</button>

                <button type="button" class="login-with-google-btn" >
                    <a href="{{path('connect_google')}}">Se connecter avec Google</a>
                </button>
                <p id="constraints_message">
                    - Remplissez tous les champs requis (*) avec des informations précises pour garantir une inscription réussie. <br>
                    - Choisissez un pseudo approprié. <br>
                    - Assurez-vous que votre adresse e-mail est correcte pour confirmer votre compte. <br>
                    - Votre mot de passe doit contenir au moins 13 caractères, incluant une majuscule, une minuscule, un chiffre, et un caractère spécial (#?!@$%^&*-). <br>
                    - Lisez et acceptez les termes et conditions pour finaliser votre inscription. <br>
                    - Vos données seront traitées en toute confidentialité.
                </p>
            </div>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/register.js')}}"></script>
    <script src="{{ asset('/js/captcha.js')}}"></script>
{% endblock %}